In [9]:
import pymysql

In [10]:
#변수 = 임포트.함수()
sample_db = pymysql.connect(
    user = "root",
    passwd = "asd456",
    host = "localhost",
    db = "test",
    charset = "utf8"
)

#커서생성
cursor = sample_db.cursor(pymysql.cursors.DictCursor)

In [11]:
sql = "SELECT * FROM base1"

# for i in range(5,10):
#     sql2 = "insert into base1 values ('test%d', password='1111')" %i
#     cursor.execute(sql2)

cursor.execute(sql)
result = cursor.fetchall()
print(result)

[{'post_id': 'test2', 'password': '1111'}, {'post_id': 'test4', 'password': '1111'}, {'post_id': 'test5', 'password': '0'}, {'post_id': 'test6', 'password': '0'}, {'post_id': 'test7', 'password': '0'}, {'post_id': 'test8', 'password': '0'}, {'post_id': 'test9', 'password': '0'}]

In [12]:
select_sql = "SELECT * FROM base1"
# select_sql = "SELECT base1.post_id, base1.password, base2.phone FROM base1 INNER JOIN base2 ON base1.post_id=base2.post_id"
# select_sql = "SELECT password. COUNT(password) as cnt FROM base1 GROUP BY password"
# select_sql = "SELECT password FROM base1 GROUP BY password" #password list of base1
#as (x) for new key

cursor.execute(select_sql)
result = cursor.fetchall() #fectchall for print all

print(result) #파이썬으로 다시출력

def commit_close():
    sample_db.commit()
    sample_db.close()
    
commit_close()

[{'post_id': 'test2', 'password': '1111'}, {'post_id': 'test4', 'password': '1111'}, {'post_id': 'test5', 'password': '0'}, {'post_id': 'test6', 'password': '0'}, {'post_id': 'test7', 'password': '0'}, {'post_id': 'test8', 'password': '0'}, {'post_id': 'test9', 'password': '0'}]

In [13]:
dict=[{"name" : "test1", "password" : "1234"},
    {"name" : "test2", "password" : "1234"},
    {"name" : "test3", "password" : "1234"}]

for i in range(len(dict)):
    print(dict[i])

for list in dict:
    print(list)

{'name': 'test1', 'password': '1234'}
{'name': 'test2', 'password': '1234'}
{'name': 'test3', 'password': '1234'}
{'name': 'test1', 'password': '1234'}
{'name': 'test2', 'password': '1234'}
{'name': 'test3', 'password': '1234'}